<!--Craindo formulário para inserção dos dados do produto-->
<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <form>
      <mat-form-field>
        <!--é feito um two way data binding no product.name
            ele recebe o conteudo que o user escreve e armazena
            no atributo produto lá na class -- [(ngModel)]="poduct.name"-->
        <input matInput placeholder="Nome" 
               [(ngModel)]= "product.name" name="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Preço (R$)"
               [(ngModel)]= "product.price" name="price">
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateProduct()" color="primary">
      Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>
  </mat-card>
  